In [1]:
import pandas as pd

### 讀取訓練資料

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

# 傳址
full_data = [train, test]

train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [4]:
print(train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None

## Feature Engineering
form https://www.kaggle.com/sinakhorami/titanic-best-working-classifier

In [5]:
print (train[['Pclass', 'Survived']].groupby(['Pclass'], as_index=False).mean())

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [6]:
print (train[['Sex', 'Survived']].groupby(['Sex'], as_index=False).mean())

      Sex  Survived
0  female  0.742038
1    male  0.188908

# 有問題

In [31]:
# 計算 家庭成員 + 自己
for dataset in full_data:
    dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1
#     為什麼這個會修改到 train

print (train[['FamilySize', 'Survived']].groupby(['FamilySize'], as_index=False).mean())

   FamilySize  Survived
0           1  0.303538
1           2  0.552795
2           3  0.578431
3           4  0.724138
4           5  0.200000
5           6  0.136364
6           7  0.333333
7           8  0.000000
8          11  0.000000

In [33]:
for dataset in full_data:
    #非獨自一人 0(False，有家庭成員)；獨自一人 1(True，沒有家庭成員)
    dataset['IsAlone'] = 0 
    dataset.loc[dataset['FamilySize'] == 1, 'IsAlone'] = 1

print (train[['IsAlone', 'Survived']].groupby(['IsAlone'], as_index=False).mean())

   IsAlone  Survived
0        0  0.505650
1        1  0.303538

In [34]:
print (train[['Embarked', 'Survived']].groupby(['Embarked'], as_index=False).mean())

  Embarked  Survived
0        C  0.553571
1        Q  0.389610
2        S  0.336957

In [49]:
for dataset in full_data:
#     把遺失值的部分 填入 中位數 ； 為什麼這樣可以修改到 train
    dataset['Fare'] = dataset['Fare'].fillna(train['Fare'].median())

train['CategoricalFare'] = pd.qcut(train['Fare'], 4)
print (train[['CategoricalFare', 'Survived']].groupby(['CategoricalFare'], as_index=False).mean())

0
1

In [44]:
full_data

[     PassengerId  Survived  Pclass  \
 0              1         0       3
 1              2         1       1
 2              3         1       3
 3              4         1       1
 4              5         0       3
 5              6         0       3
 6              7         0       1
 7              8         0       3
 8              9         1       3
 9             10         1       2
 10            11         1       3
 11            12         1       1
 12            13         0       3
 13            14         0       3
 14            15         0       3
 15            16         1       2
 16            17         0       3
 17            18         1       2
 18            19         0       3
 19            20         1       3
 20            21         0       2
 21            22         1       2
 22            23         1       3
 23            24         1       1
 24            25         0       3
 25            26         1       3
 26            27         0       3
 27            28         0       1
 28            29         1       3
 29            30         0       3
 ..           ...       ...     ...
 861          862         0       2
 862          863         1       1
 863          864         0       3
 864          865         0       2
 865          866         1       2
 866          867         1       2
 867          868         0       1
 868          869         0       3
 869          870         1       3
 870          871         0       3
 871          872         1       1
 872          873         0       1
 873          874         0       3
 874          875         1       2
 875          876         1       3
 876          877         0       3
 877          878         0       3
 878          879         0       3
 879          880         1       1
 880          881         1       2
 881          882         0       3
 882          883         0       3
 883          884         0       2
 884          885         0       3
 885          886         0       3
 886          887         0       2
 887          888         1       1
 888          889         0       3
 889          890         1       1
 890          891         0       3

                                                   Name     Sex   Age  SibSp  \
 0                              Braund, Mr. Owen Harris    male  22.0      1
 1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
 2                               Heikkinen, Miss. Laina  female  26.0      0
 3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
 4                             Allen, Mr. William Henry    male  35.0      0
 5                                     Moran, Mr. James    male   NaN      0
 6                              McCarthy, Mr. Timothy J    male  54.0      0
 7                       Palsson, Master. Gosta Leonard    male   2.0      3
 8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
 9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
 10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
 11                            Bonnell, Miss. Elizabeth  female  58.0      0
 12                      Saundercock, Mr. William Henry    male  20.0      0
 13                         Andersson, Mr. Anders Johan    male  39.0      1
 14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
 15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
 16                                Rice, Master. Eugene    male   2.0      4
 17                        Williams, Mr. Charles Eugene    male   NaN      0
 18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
 19                             Masselmani, Mrs. Fatima  female   NaN      0
 20                                Fynney, Mr. Joseph J    male  35.0      0
 21                               Beesley, Mr. Lawrence    male  34.0      0
 22                         McGowan, Miss. Anna "Annie"  female  15.0      0
 23                        Sloper, Mr. William Thompson    male  28.0      0
 24                       Palsson, Miss. Torborg Danira  female   8.0      3
 25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
 26                             Emir, Mr. Farred Chehab    male   NaN      0
 27                      Fortune, Mr. Charles Alexander    male  19.0      3
 28                       O'Dwyer, Miss. Ellen "Nellie"  female   NaN      0
 29                                 Todoroff, Mr. Lalio    male   NaN      0
 ..                                                 ...     ...   ...    ...
 861                        Giles, Mr. Frederick Edward    male  21.0      1
 862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
 863                  Sage, Miss. Dorothy Edith "Dolly"  female   NaN      8
 864                             Gill, Mr. John William    male  24.0      0
 865                           Bystrom, Mrs. (Karolina)  female  42.0      0
 866                       Duran y More, Miss. Asuncion  female  27.0      1
 867               Roebling, Mr. Washington Augustus II    male  31.0      0
 868                        van Melkebeke, Mr. Philemon    male   NaN      0
 869                    Johnson, Master. Harold Theodor    male   4.0      1
 870                                  Balkic, Mr. Cerin    male  26.0      0
 871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
 872                           Carlsson, Mr. Frans Olof    male  33.0      0
 873                        Vander Cruyssen, Mr. Victor    male  47.0      0
 874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0      1
 875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
 876                      Gustafsson, Mr. Alfred Ossian    male  20.0      0
 877                               Petroff, Mr. Nedelio    male  19.0      0
 878                                 Laleff, Mr. Kristo    male   NaN      0
 879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
 880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
 881                                 Markun, Mr. Johann    male  33.0      0
 882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
 883                      Banfield, Mr. Frederick James    male  28.0      0
 884                             Sutehall, Mr. Henry Jr    male  25.0      0
 885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
 886                              Montvila, Rev. Juozas    male  27.0      0
 887                       Graham, Miss. Margaret Edith  female  19.0      0
 888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
 889                              Behr, Mr. Karl Howell    male  26.0      0
 890                                Dooley, Mr. Patrick    male  32.0      0

      Parch            Ticket      Fare        Cabin Embarked  FamilySize  \
 0        0         A/5 21171    7.2500          NaN        S           2
 1        0          PC 17599   71.2833          C85        C           2
 2        0  STON/O2. 3101282    7.9250          NaN        S           1
 3        0            113803   53.1000         C123        S           2
 4        0            373450    8.0500          NaN        S           1
 5        0            330877    8.4583          NaN        Q           1
 6        0             17463   51.8625          E46        S           1
 7        1            349909   21.0750          NaN        S           5
 8        2            347742   11.1333          NaN        S           3
 9        0            237736   30.0708          NaN        C           2
 10       1           PP 9549   16.7000           G6        S           3
 11       0            113783   26.5500         C103        S           1
 12       0         A/5. 2151    8.0500          NaN        S           1
 13       5            347082   31.2750          NaN        S           7
 14       0            350406    7.8542          NaN        S           1
 15       0            248706   16.0000          NaN        S           1
 16       1            382652   29.1250          NaN        Q           6
 17       0            244373   13.0000          NaN        S           1
 18       0            345763   18.0000          NaN        S           2
 19       0              2649    7.2250          NaN        C           1
 20       0            239865   26.0000          NaN        S           1
 21       0            248698   13.0000          D56        S           1
 22       0            330923    8.0292          NaN        Q           1
 23       0            113788   35.5000           A6        S           1
 24       1            349909   21.0750          NaN        S           5
 25       5            347077   31.3875          NaN        S           7
 26       0              2631    7.2250          NaN        C           1
 27       2             19950  263.0000  C23 C25 C27        S           6
 28       0            330959    7.8792          NaN        Q           1
 29       0            349216    7.8958          NaN        S           1
 ..     ...               ...       ...          ...      ...         ...
 861      0             28134   11.5000          NaN        S           2
 862      0             17466   25.9292          D17        S           1
 863      2          CA. 2343   69.5500          NaN        S          11
 864      0            233866   13.0000          NaN        S           1
 865      0            236852   13.0000          NaN        S           1
 866      0     SC/PARIS 2149   13.8583          NaN        C           2
 867      0          PC 17590   50.4958          A24        S           1
 868      0            345777    9.5000          NaN        S           1
 869      1            347742   11.1333          NaN        S           3
 870      0            349248    7.8958          NaN        S           1
 871      1             11751   52.5542          D35        S           3
 872      0               695    5.0000  B51 B53 B55        S           1
 873      0            345765    9.0000          NaN        S           1
 874      0         P/PP 3381   24.0000          NaN        C           2
 875      0              2667    7.2250          NaN        C           1
 876      0              7534    9.8458          NaN        S           1
 877      0            349212    7.8958          NaN        S           1
 878      0            349217    7.8958          NaN        S           1
 879      1             11767   83.1583          C50        C           2
 880      1            230433   26.0000          NaN        S           2
 881      0            349257    7.8958          NaN        S           1
 882      0              7552   10.5167          NaN        S           1
 883      0  C.A./SOTON 34068   10.5000          NaN        S           1
 884      0   SOTON/OQ 392076    7.0500          NaN        S           1
 885      5            382652   29.1250          NaN        Q           6
 886      0            211536   13.0000          NaN        S           1
 887      0            112053   30.0000          B42        S           1
 888      2        W./C. 6607   23.4500          NaN        S           4
 889      0            111369   30.0000         C148        C           1
 890      0            370376    7.7500          NaN        Q           1

      IsAlone  CategoricalFare
 0          0   (-0.001, 7.91]
 1          0  (31.0, 512.329]
 2          1   (7.91, 14.454]
 3          0  (31.0, 512.329]
 4          1   (7.91, 14.454]
 5          1   (7.91, 14.454]
 6          1  (31.0, 512.329]
 7          0   (14.454, 31.0]
 8          0   (7.91, 14.454]
 9          0   (14.454, 31.0]
 10         0   (14.454, 31.0]
 11         1   (14.454, 31.0]
 12         1   (7.91, 14.454]
 13         0  (31.0, 512.329]
 14         1   (-0.001, 7.91]
 15         1   (14.454, 31.0]
 16         0   (14.454, 31.0]
 17         1   (7.91, 14.454]
 18         0   (14.454, 31.0]
 19         1   (-0.001, 7.91]
 20         1   (14.454, 31.0]
 21         1   (7.91, 14.454]
 22         1   (7.91, 14.454]
 23         1  (31.0, 512.329]
 24         0   (14.454, 31.0]
 25         0  (31.0, 512.329]
 26         1   (-0.001, 7.91]
 27         0  (31.0, 512.329]
 28         1   (-0.001, 7.91]
 29         1   (-0.001, 7.91]
 ..       ...              ...
 861        0   (7.91, 14.454]
 862        1   (14.454, 31.0]
 863        0  (31.0, 512.329]
 864        1   (7.91, 14.454]
 865        1   (7.91, 14.454]
 866        0   (7.91, 14.454]
 867        1  (31.0, 512.329]
 868        1   (7.91, 14.454]
 869        0   (7.91, 14.454]
 870        1   (-0.001, 7.91]
 871        0  (31.0, 512.329]
 872        1   (-0.001, 7.91]
 873        1   (7.91, 14.454]
 874        0   (14.454, 31.0]
 875        1   (-0.001, 7.91]
 876        1   (7.91, 14.454]
 877        1   (-0.001, 7.91]
 878        1   (-0.001, 7.91]
 879        0  (31.0, 512.329]
 880        0   (14.454, 31.0]
 881        1   (-0.001, 7.91]
 882        1   (7.91, 14.454]
 883        1   (7.91, 14.454]
 884        1   (-0.001, 7.91]
 885        0   (14.454, 31.0]
 886        1   (7.91, 14.454]
 887        1   (14.454, 31.0]
 888        0   (14.454, 31.0]
 889        1   (14.454, 31.0]
 890        1   (-0.001, 7.91]

 [891 rows x 15 columns],
      PassengerId  Pclass                                               Name  \
 0            892       3                                   Kelly, Mr. James
 1            893       3                   Wilkes, Mrs. James (Ellen Needs)
 2            894       2                          Myles, Mr. Thomas Francis
 3            895       3                                   Wirz, Mr. Albert
 4            896       3       Hirvonen, Mrs. Alexander (Helga E Lindqvist)
 5            897       3                         Svensson, Mr. Johan Cervin
 6            898       3                               Connolly, Miss. Kate
 7            899       2                       Caldwell, Mr. Albert Francis
 8            900       3          Abrahim, Mrs. Joseph (Sophie Halaut Easu)
 9            901       3                            Davies, Mr. John Samuel
 10           902       3                                   Ilieff, Mr. Ylio
 11           903       1                         Jones, Mr. Charles Cresson
 12           904       1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)
 13           905       2                               Howard, Mr. Benjamin
 14           906       1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
 15           907       2      del Carlo, Mrs. Sebastiano (Argenia Genovesi)
 16           908       2                                  Keane, Mr. Daniel
 17           909       3                                  Assaf, Mr. Gerios
 18           910       3                       Ilmakangas, Miss. Ida Livija
 19           911       3              Assaf Khalil, Mrs. Mariana (Miriam")"
 20           912       1                             Rothschild, Mr. Martin
 21           913       3                          Olsen, Master. Artur Karl
 22           914       1               Flegenheim, Mrs. Alfred (Antoinette)
 23           915       1                    Williams, Mr. Richard Norris II
 24           916       1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
 25           917       3                            Robins, Mr. Alexander A
 26           918       1                       Ostby, Miss. Helene Ragnhild
 27           919       3                                  Daher, Mr. Shedid
 28           920       1                            Brady, Mr. John Bertram
 29           921       3                                  Samaan, Mr. Elias
 ..           ...     ...                                                ...
 388         1280       3                               Canavan, Mr. Patrick
 389         1281       3                        Palsson, Master. Paul Folke
 390         1282       1                         Payne, Mr. Vivian Ponsonby
 391         1283       1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)
 392         1284       3                      Abbott, Master. Eugene Joseph
 393         1285       2                               Gilbert, Mr. William
 394         1286       3                           Kink-Heilmann, Mr. Anton
 395         1287       1     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
 396         1288       3                               Colbert, Mr. Patrick
 397         1289       1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
 398         1290       3                     Larsson-Rondberg, Mr. Edvard A
 399         1291       3                           Conlon, Mr. Thomas Henry
 400         1292       1                            Bonnell, Miss. Caroline
 401         1293       2                                    Gale, Mr. Harry
 402         1294       1                     Gibson, Miss. Dorothy Winifred
 403         1295       1                             Carrau, Mr. Jose Pedro
 404         1296       1                       Frauenthal, Mr. Isaac Gerald
 405         1297       2       Nourney, Mr. Alfred (Baron von Drachstedt")"
 406         1298       2                          Ware, Mr. William Jeffery
 407         1299       1                         Widener, Mr. George Dunton
 408         1300       3                    Riordan, Miss. Johanna Hannah""
 409         1301       3                          Peacock, Miss. Treasteall
 410         1302       3                             Naughton, Miss. Hannah
 411         1303       1    Minahan, Mrs. William Edward (Lillian E Thorpe)
 412         1304       3                     Henriksson, Miss. Jenny Lovisa
 413         1305       3                                 Spector, Mr. Woolf
 414         1306       1                       Oliva y Ocana, Dona. Fermina
 415         1307       3                       Saether, Mr. Simon Sivertsen
 416         1308       3                                Ware, Mr. Frederick
 417         1309       3                           Peter, Master. Michael J

         Sex   Age  SibSp  Parch              Ticket      Fare  \
 0      male  34.5      0      0              330911    7.8292
 1    female  47.0      1      0              363272    7.0000
 2      male  62.0      0      0              240276    9.6875
 3      male  27.0      0      0              315154    8.6625
 4    female  22.0      1      1             3101298   12.2875
 5      male  14.0      0      0                7538    9.2250
 6    female  30.0      0      0              330972    7.6292
 7      male  26.0      1      1              248738   29.0000
 8    female  18.0      0      0                2657    7.2292
 9      male  21.0      2      0           A/4 48871   24.1500
 10     male   NaN      0      0              349220    7.8958
 11     male  46.0      0      0                 694   26.0000
 12   female  23.0      1      0               21228   82.2667
 13     male  63.0      1      0               24065   26.0000
 14   female  47.0      1      0         W.E.P. 5734   61.1750
 15   female  24.0      1      0       SC/PARIS 2167   27.7208
 16     male  35.0      0      0              233734   12.3500
 17     male  21.0      0      0                2692    7.2250
 18   female  27.0      1      0    STON/O2. 3101270    7.9250
 19   female  45.0      0      0                2696    7.2250
 20     male  55.0      1      0            PC 17603   59.4000
 21     male   9.0      0      1             C 17368    3.1708
 22   female   NaN      0      0            PC 17598   31.6833
 23     male  21.0      0      1            PC 17597   61.3792
 24   female  48.0      1      3            PC 17608  262.3750

對 Embarked 作 One-hot-encoding

對 Sex 作 Label encoding

Pclass 是否要 Label encoding ?

Age 和 Fare 是否要分箱 和 清除 NaN 資料